<h1>events</h1>

{{#each model as |event|}}
<div>{{event.culverts}}
{{event.deck}}
{{event.kilometerpoint}}
{{event.latitude}}
{{event.longitude}}
{{event.location}}
{{event.pier}}
{{event.skew}}
{{event.statuswith10yearrule}}
{{event.substructure}}
{{event.superstructure}}
{{event.toll}}
{{event.year}}</div>
{{/each}}
